<nav class='nav black-bc padding-l-40 padding-r-40'>
     <section class='holder-one'> <!-- logo and search -->
          <img class='inside-logo float-l' src="assets/Icon/INSIDE-Logo.png">
          <input class=' search-bar border-non gray-bc padding-l-20 placeholder arial black-c outline-non art-fonts-size float-l' type='text' placeholder="search">
          <button class='border-rad-non border-non blue-bc search-button outline-non'></button>
          <p class='clear-fix'></p>
     </section>
     <section class='float-r'> <!-- holder of user Function & user account sections-->
          <section class="holder-user-fun margin-r-40 float-l"> <!--user function-->
               <button class='border-rad-non border-non black-bc outline-non nav-icons margin-r-20 margin-l-20' >
                    <img src='../assets/Icon/cart.png'>
               </button>
               <button class='border-rad-non border-non black-bc outline-non nav-icons margin-r-20 margin-l-20'>
                    <img src='../assets/Icon/store.png'>
               </button>
               <button class='border-rad-non border-non black-bc outline-non nav-icons margin-r-20 margin-l-20'>
                    <img src='../assets/Icon/avatar.png'>
               </button>
          </section>

          <section class='holder-user-acc holder-three green-bdc'><!--User account -->
               <button class='border-rad-non border-non outline-non nav-sign-up blue-bc float-l'>
                    <img class='nav-icons margin-r-20 margin-l-20' src='../assets/Icon/lock.png'>
                    <span class='white-c margin-r-20 arial art-fonts-size'>Sign Up</span>
               </button>
               <button class='border-rad-non border-non outline-non nav-sign-in gray-bc'>
                    <span class='black-c margin-r-20 margin-l-20 arial art-fonts-size'>Sign in</span>
               </button>
               <p class='clear-fix'></p>
          </section>
          <p class='clear-fix'></p>
     </section>
     <p class='clear-fix'></p>
</nav>
