.nav{
     height:40px;
}
/*  Holders */
.holder-one{
     height: 30px;
     width: 413px;
     padding: 5px 0;
     display: inline-block;
}
.holder-user-fun{
     display: inline-block;
     height: 20px;
     width: 180px;
     padding: 10px 0;
}
.holder-user-acc{
     display: inline-block;
     height: 30px;
     width: 260px;
     padding: 5px 0;
}
/* Buttons & icons */
.inside-logo{
     margin: 5px 40px 5px 0;
     height:20px;
}
.search-bar{
     width: 260px;
     height:30px;
     border-radius: 4px 0 0 4px;
}
.search-button{
     height:30px;
     width:30px;
     background-image: url("../../assets/Icon/search.png");
     background-position: center;
     background-repeat: no-repeat;
}
.nav-icons{
     height: 20px;
     width: 20px;
}
.nav-sign-up{
     height:30px;
     border-radius: 4px 0 0 4px ;
}
.nav-sign-in{
     height:30px;
     border-radius: 0 4px 4px 0 ;
}
