<nav class='nav black-bc padding-l-40 padding-r-40'>
     <section class='holder-one green-bc'> <!-- logo and search -->
          <img class='inside-logo float-l' src="assets/Icon/INSIDE-Logo.png">
          <input class=' search-bar border-non gray-bc padding-l-20 placeholder arial black-c outline-non art-fonts-size float-l' type='text' placeholder="search">
          <button class='border-rad-non border-non blue-bc search-button outline-non'></button>
          <p class='clear-fix'></p>
     </section>
     <section class='float-r'>
          
          <section class="holder-user-fun margin-r-40 blue-bc"> <!--user function-->
               <button class='border-rad-non border-non black-bc cart-button outline-non'></button>
          </section>

          <section class='holder-user-acc holder-three green-bc'>333</section> <!--User account -->
     </section>
</nav>
