<section class=' main-contaner margin-auto'>
     <header class='padding-b-20'> <!-- steps -->
          <div class='step-icon gray-bc center margin-b-20'>
               <p class='arial titles-fonts-size white-c step-num'>1</p>
          </div>
          <p class='arial titles-fonts-size bOld black-c'>User ID</p>
     </header>

     <section class=''> <!-- step one  User ID-->
          <div class='column float-l'><!-- calumn-A -->
               <input class='sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20' placeholder='First Name' type='text'>
               <input class='sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20' placeholder='Last Name' type='text'>
               <input class='sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20' placeholder='E-mail' type='text'>
               <input class='sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20' placeholder='Password' type='password'>
               <input class='sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20' placeholder='Re-Password' type='password'>
          </div>
          <div class='column float-l margin-r-40 margin-l-40'>
               <input class='sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20' placeholder='Gender' type='text'>
               <input class='sing-inputs border-non gray-bc outline-non padding-l-20 padding-r-20 placeholder-s p-fonts-size shadow-s margin-b-20' placeholder='DD/MM/YYYY' type='text'>
          </div> <!-- calumn-B -->
          <div class='column blue-bcs float-l'>
               <button class='butt-next arial p-fonts-size outline-non border-non blue-bc white-c padding-r-20 padding-l-20 float-r shadow-s'>Next</button>
          </div> <!-- calumn-C -->
          <p class='clear-fix'></p>
     <section>
     <!-- step tow -->
</section>
