<section class='green-bc main-contaner margin-auto'>
     <header class='padding-b-20'> <!-- steps -->
          <div class='step-icon gray-bc center margin-b-20'>
               <p class='arial titles-fonts-size white-c step-num'>1</p>
          </div>
          <p class='arial titles-fonts-size bOld black-c'>User ID</p>
     </header>

     <section class=''> <!-- step one -->
          <div class='column black-bc float-l'></div> <!-- -->
          <div class='column red-bc float-l margin-r-40 margin-l-40'></div> <!--  -->
          <div class='column blue-bc float-l'></div> <!--  -->
          <p class='clear-fix'></p>
     <section>
     <!-- step tow -->
</section>
