/* main contaner */
.main-contaner{
     width: 860px;
     height: 440px;
}
/* header */
.step-icon{
     width:70px;
     height:70px;
     border-radius: 50%;
}
.step-num{
     padding:20px 0;
}
/* ccolumn */
.column{
     width:260px;
     height: 300px;
     position: relative;
}
.sing-inputs{
     width:220px;
     height: 40px;
     border-radius: 4px;
}
.butt-next{
     width: 100px;
     height: 40px;
     position: absolute;
     bottom: 20px;
     right:0;
     border-radius: 4px
}
